<form method="post" id='frmCampaign' action="/cst/campaignregistration">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">CST</a></li>
        <li class="breadcrumb-item active">Campaign</li>
    </ol>
    <div class="form-group required-field">
        <label for="CN">Campaign Name</label>
        <input id="campname" type="text" class="form-control" name="CampaignName" required autofocus>
    </div>
    <div class="clear"></div>

    <div class="form-group required-field">
        <label for="CM">Campaign Manager</label>
        <input id="cm" type="email" class="form-control" name="Campaignmanager" value="" required autofocus> {{!--
        <input id="CM" type="text" class="form-control" name="Campaign Manager" value="" required autofocus> --}}
    </div>
    <div class="clear"></div>

    <div class="form-group required-field">
        <label for="CG">Campaign Description & Goals</label>
        <input id="Cdg" type="text" class="form-control" name="Campaigndescriptiongoals" value="" required autofocus>
    </div>
    <div class="clear"></div>

    <div class="form-group required-field">
        <label for="MS">MCA segment</label>
        <select multiple="true" class="chosen-select form-control" id="MS" name="mcasegment" >
            {{#each mcasegment}}
            <option value={{mcasegmentid}}>{{mcasegmentname}}</option>
            {{/each}} </select>
        </br>
    </div>
    <div class="clear"></div>

    <div class="form-group required-field">
        <label for="BG">Business Group</label>
        <select id="BG" name="businessgroup" multiple="true" class="chosen-select form-control" >
            {{#each businessgroups}}
            <option value={{businessgroupid}}>{{businessgroupname}}</option>
            {{/each}} </select>
        </br>
    </div>
    <div class="clear"></div>

    <div class="form-group required-field">
        <label for="BT">Business Type</label>
        <select id="BT" name="businesstype" multiple="true" class="chosen-select form-control" >
            {{#each businesstype}}
            <option value={{businesstypeid}}>{{businesstypename}}</option>
            {{/each}} </select>
        </br>
    </div>
    <div class="clear"></div>

    <div class="form-group required-field">
        <label for="PF">Program families</label>
        <select id="PF" name="programfamilies" multiple="true" class="chosen-select form-control" >
            {{#each programfamilies}}
            <option value={{programfamiliyid}}>{{programfamiliyname}} </option>
            {{/each}} </select>
        </br>
    </div>
    <div class="clear"></div>

    <div class="form-group required-field">
        <label for="SD">start date</label>
        <input id="str" type="date" class="form-control" name="startdate" value="" required autofocus>
    </div>
    <div class="clear"></div>

    <div class="form-group required-field">
        <label for="ED">End date</label>
        <input id="endate" type="date" class="form-control" name="enddate" value="" required autofocus>
    </div>
    <div class="clear"></div>

    <div class="panel-footer">
        <button id="btnSubmit" id='validateit' type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-default" id="btnsaveDraft">Save Draft</button>
    </div>
    <div class="clear"></div>
</form>
<script src="/script/campaignform.js"></script>