<form method="post" id='frmCampaign' action="/cst/campaignsave">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">CST</a></li>
        <li class="breadcrumb-item active">Campaign</li>
    </ol>
    <input type="hidden" name="campaignid" id="campaignid" value={{mastercampaign.mastercampaignid}}  />
    <input type="hidden" name="status" id="status" value={{mastercampaign.status}} />
    <div class="form-group required-field">
        <label for="CN">Campaign Name</label>
        <input id="CampaignName" type="text" class="form-control" name="CampaignName" required autofocus value={{mastercampaign.mastercampaignname}} >
    </div>
    <div class="clear"></div>

    <div class="form-group required-field">
        <label for="CM">Campaign Manager</label>
        <input id="Campaignmanager" type="email" class="form-control" name="Campaignmanager" value={{mastercampaign.campaignmanager}}> {{!--
        <input id="CM" type="text" class="form-control" name="Campaign Manager" value="" required autofocus> --}}
    </div>
    <div class="clear"></div>

    <div class="form-group required-field">
        <label for="CG">Campaign Description & Goals</label>
        <input id="Campaigndescription" type="text" class="form-control" 
        name="Campaigndescription" value={{mastercampaign.campaigndescription}}>
    </div>
    <div class="clear"></div>

    <div class="form-group required-field">
        <label for="MS">MCA segment</label>
        <select multiple="true" class="chosen-select form-control" id="lstmcasegment" name="mcasegment" required >
            {{#each mcasegment}}
            <option {{#if isselect}} selected="selected" {{/if}} value={{mcasegmentid}}>{{mcasegmentname}}</option>
            {{/each}} </select>
        </br>
    </div>
    <div class="clear"></div>

    <div class="form-group required-field">
        <label for="BG">Business Group</label>
        <select id="lstBusinessGroup" name="businessgroup" multiple="true" class="chosen-select form-control" required>
            {{#each businessgroups}}
            <option {{#if isselect}} selected="selected" {{/if}} value={{businessgroupid}}>{{businessgroupname}}</option>
            {{/each}} </select>
        </br>
    </div>
    <div class="clear"></div>

    <div class="form-group required-field">
        <label for="lstBusinessType">Business Type</label>
        <select id="lstBusinessType" name="businesstype" multiple="true" class="chosen-select form-control" required>
            {{#each businessType}}
            <option {{#if isselect}} selected="selected" {{/if}} value={{businesstypeid}}>{{businesstypename}}</option>
            {{/each}} </select>
        </br>
    </div>
    <div class="clear"></div>

    <div class="form-group required-field">
        <label for="lstProgramFamilies">Program families</label>
        <select id="lstProgramFamilies" name="programfamilies" multiple="true" class="chosen-select form-control" required >
            {{#each programFamilies}}
            <option {{#if isselect}} selected="selected" {{/if}} value={{programfamiliyid}}>{{programfamiliyname}} </option>
            {{/each}} </select>
        </br>
    </div>
    <div class="clear"></div>

    <div class="form-group required-field">
        <label for="txtStartDate">start date</label>
        <input id="txtStartDate" type="date" pattern="DD-MM-YYYY" class="form-control" name="startdate" autofocus value="{{mastercampaign.startdate}}">        
    </div>
    <div class="clear"></div>

    <div class="form-group required-field">
        <label for="txtEndDate">End date</label>
        <input id="txtEndDate" type="date" pattern="dd-MM-YYYY" class="form-control" name="enddate" autofocus value={{mastercampaign.enddate}}>
    </div>
    <div class="clear"></div>

    <div class="panel-footer">
        <button id="btnSubmit" id='validateit' type="button" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-default" id="btnDraft">Save Draft</button>
    </div>
    <div class="clear"></div>
</form>
<script src="/script/campaignform.js"></script>