<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--  <title>Collapsible sidebar using Bootstrap 3</title> -->

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/css/style4.css"> {{!--
    <link rel="stylesheet" type="text/css" href="/css/my-login.css"> --}}
</head>
{{> common}}

<body class="my-registration-page">

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <div id="wrapper">
            
            <table align='center' cellspacing=2 cellpadding=5 id="data_table" border=1>
                <tr>
                    <th>Program Name</th>
                    <th>Campaign Manager</th>
                    <th>Description</th>
                    
                </tr>

                {{!--
                <table class=“cooltable”> --}} {{#each program}}
                    <tr>
                        {{!--
                        <td>
                            <input type="text" id='name' value={{mastercampaignname}}>
                        </td>
                        <td>
                            <input type="text" id='manager' value={{campaignmanager}}>
                        </td>
                        <td>
                            <input type="text" id='m1' value={{campaignmanager}}>
                        </td> --}}

                        <td>{{programname}}</td>
                        <td>{{campaignmanager}}</td>
                        <td>{{programdescription}}</td>
                        
                        <td style="visibility: hidden">{{programid}}</td>
                        <td>
                            <input type="button" class="add" value="Edit">
                        </td>
                    </tr>

                    {{/each}}
                   
                </table>
                <br>
                 <button type="button" class="btn btn-primary btn-block" onclick="window.location.href='/cst/subcampaign'" style="float: right;">Create One</button>
        </div>



        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js">
        </script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="moment.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.js"></script>

        <link rel="stylesheet" href="/css/choosen.css"> {{!--
        <script>

            function subcampaign() {
                //alert('in ajax');
                var val = $("#mar option:selected").val();
                alert('market values ' + val);
        </script> --}} {{!--
        <script type="text/javascript">
                function add_row() {
                    var tableRows = document.getElementsByTagName("tr");
                    alert(tableRows.length);
                    for (var i = 1; i <= tableRows.length; i++) {
                        alert('inside function' + document.getElementById('data_table').rows[i].cells[i].innerHTML);
                    }
                }

        </script> --}}
        <script type="text/javascript">
                $(document).ready(function () {
                    $("#PF").outerWidth(155);
                    $("#BT").outerWidth(155);
                    $("#BG").outerWidth(155);
                    $("#MS").outerWidth(155);
                    $("#PT").outerWidth(710);
                    $("#mar").outerWidth(156);
                    $("#MSC").outerWidth(710);
                    $("#BGC").outerWidth(710);
                    $("#SBG").outerWidth(156);
                    $("#BL").outerWidth(710);
                    $("#SBL").outerWidth(156);
                    $("#LBT").outerWidth(710);
                    $("#IT").outerWidth(710);
                    $("#SBT").outerWidth(156);
                    $("#CS").outerWidth(710);

                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar').toggleClass('active');
                    });


                    $(".programfamily-control").chosen({
                        //alert($("#PF").value());
                        placeholder_text_multiple: "program families"
                    })

                    $(".sec-businesstype").chosen({
                        //alert($("#PF").value());
                        placeholder_text_multiple: "Secondary business types"
                    })

                    // $(".programfamily-control").chosen().change(function (e, params) {
                    //   values = $("#PF").chosen().val();
                    //placeholder_text_multiple: "program families"
                    //values is an array containing all the results.
                    // });


                    $(".businesstype-control").chosen({

                        placeholder_text_multiple: "Program type names"
                    })

                    $(".sec-businessgroupcontrol").chosen({

                        placeholder_text_multiple: "Secondary Business Group Names"
                    })

                    $(".sec-businessline").chosen({

                        placeholder_text_multiple: "Secondary buysiness lines"
                    })

                    $(".programtype-control").chosen({

                        placeholder_text_multiple: "Program type names"
                    })

                    $(".market-control").chosen({

                        placeholder_text_multiple: "market names"
                    })

                    $("#data_table tr").click(function (event) {
                        alert('sf');
                        $(this).addClass('selected').siblings().removeClass('selected');
                        var programName = $(this).find('td:first').html();
                        var cmapaignManager = $(this).find("td:eq(1)").html();
                        var Description = $(this).find("td:eq(2)").html();
                        var programid = $(this).find("td:eq(3)").html();
                        event.preventDefault();
                        var Id = programid;
                        window.location.href = '/cst/subcampaignhandler' + Id;

                    });

                    
                });



        </script>
</body>


</html>