<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--  <title>Collapsible sidebar using Bootstrap 3</title> -->

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/css/style4.css"> {{!--
    <link rel="stylesheet" type="text/css" href="/css/my-login.css"> --}}

    <style>
        #globalLoader {
            position: absolute;
            top: 0px !important;
            left: 0px !important;
            width: 100% !important;
            height: 180% !important;
            z-index: 1000;
            background-color: grey;
            opacity: .8;
            overflow: hidden !important;
        }

        .loader {
            border: 16px solid #f3f3f3;
            top: 250px;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            overflow: hidden !important;
        }

        .OnLoaderscroll {
            overflow-y: hidden !important;
            overflow: hidden !important;
        }

        .disable-scroll {
            overflow: hidden !important;
        }
    </style>
</head>

{{> common}} {{!--

<body class="my-registration-page">

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Marketing Measurement & Management</h3>
                <strong>M3</strong>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-home"></i>
                        How to Use
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">CST</a>
                        </li>
                        <li>
                            <a href="#">DISCOVER/AAE</a>
                        </li>
                        <li>
                            <a href="#">Adhoc</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-duplicate"></i>
                        CST
                    </a>
                    <ul class="list-unstyled components" id="pageSubmenu">
                        <li class="active">
                            <a href="/CST/mastercampaign">Master Campaign</a>
                        </li>
                        <li>
                            <a href="/CST/program">program</a>
                        </li>
                        <li>
                            <a href="#">Tactic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-duplicate"></i>
                        DISCOVER/AAE
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        ADMIN
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-paperclip"></i>
                        FAQ
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-send"></i>
                        Contact
                    </a>
                    <a href="#">
                        <i class="glyphicon glyphicon-briefcase"></i>
                        About
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                </li>
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li>
            </ul>
        </nav>
        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
            <span></span>
        </button> --}}
        <!-- Page Content Holder -->
        <section class="h-100">

            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="card fat">
                        <div class="card-body">

                            <div id="content">

                                <nav class="navbar navbar-default">
                                    <div class="container-fluid">
                                        <h2> Program </h2>
                                        <div class="navbar-header">
                                        </div>



                                        <form method="post" action="/cst/subcampaignregistration">
                                            {{!--
                                            <div class="line"></div>
                                            <select class="form-control" id="sel1">
                                                {{#each datamcaSegment}}
                                                <option>{{mcasegmentname}}</option>
                                                {{/each}} </select>
                                            --}} {{!--
                                            <table class=“cooltable”>
                                                {{#each datamcaSegment}}
                                                <tr>
                                                    <td>{{mcasegmentname}}</td>
                                                    <td>{{name}}</td>
                                                    <td>{{mcasegmentid}}</td>
                                                </tr>
                                                {{/each}}
                                            </table> --}}


                                            <div class="form-group required-field">
                                                <label for="cam">Campaign</label>
                                                <br>
                                                <select class="campaign-control" id="CS" name="campaign" required autofocus>
                                                    {{#each campaign}}
                                                    <option value={{mastercampaignid}}>{{mastercampaignname}}</option>
                                                    {{/each}} </select>
                                                </br>

                                            </div>

                                            <div class="clear"></div>

                                            <div class="form-group required-field">
                                                <label for="PT">Program Type</label>
                                                <br>
                                                <select class="form-control" id="PT" name="programtype" required autofocus>
                                                   {{#each pfamily}}
                                                    <option value={{programfamiliyid}}>{{programfamiliyname}}</option>
                                                    {{!-- <option value="0">-- Select Program Type--</option> --}}
                                                    {{/each}} --}}</select>

                                                </br>
                                            </div>
                                            <div class="clear"></div>

                                            <div class="form-group required-field">
                                                <label for="PN">Program Name</label>
                                                <input id="proName" type="text" class="form-control" name="programname" value="" required autofocus>

                                            </div>
                                            <div class="clear"></div>

                                            <div class="form-group required-field">
                                                <label for="PM">Campaign Manager</label>
                                                <input id="campaignmanager" type="text" class="form-control" name="campaignmanager" value="" required autofocus>
                                            </div>
                                            <div class="clear"></div>

                                            <div class="form-group required-field">
                                                <label for="PDG">Program Desciption & Goals</label>
                                                <input id="prodecgoals" type="text" class="form-control" name="prodescgoals" value="" required autofocus>
                                            </div>
                                            <div class="clear"></div>

                                            <div class="form-group required-field">
                                                <label for="MAR">Markets</label>
                                                <br>
                                                <select class="market-control" id="mar" name="market" required multiple="true">
                                                    {{#each market}}
                                                    <option value={{marketid}}>{{marketname}} </option>
                                                    {{/each}} </select>
                                                </br>
                                            </div>
                                            <div class="clear"></div>

                                            <div class="form-group required-field">
                                                <label for="SD">start date</label>
                                                <input id="str" type="date" class="form-control" name="startdate" value="" required autofocus>
                                            </div>
                                            <div class="clear"></div>

                                            <div class="form-group required-field">
                                                <label for="ED">End date</label>
                                                <input id="endate" type="date" class="form-control" name="enddate" value="" required autofocus>
                                            </div>
                                            <div class="clear"></div>

                                            <div class="form-group required-field">
                                                <label for="MS">MCA segment</label>
                                                <br>
                                                <select class="mcasegment-control" id="MSC" name="mcasegment">
                                                    <option value="0">-- Select MCA segment--</option>
                                                    {{#each mcasegment}}
                                                    <option value={{mcasegmentid}}>{{mcasegmentname}}</option>
                                                    {{/each}} </select>
                                                </br>

                                            </div>
                                            <div class="clear"></div>

                                            <div class="form-group required-field">
                                                <label for="LBG">Lead Business Groups</label>
                                                <br>
                                                <select class="businessgroup-control" id="BGC" name="businessgroup">
                                                    <option value="0">-- Select Business groups--</option>
                                                    {{#each businessgroups}}
                                                    <option value={{businessgroupid}}>{{businessgroupname}}</option>
                                                    {{/each}} </select>
                                                </br>

                                            </div>
                                            <div class="clear"></div>

                                            <div class="form-group required-field">
                                                <label for="LBL">Lead Business Line</label>
                                                <br>
                                                <select class="businesslinecontrol" id="BL" name="businessline">
                                                    <option value="0">-- Select Buiness Line--</option>
                                                    {{#each businessline}}
                                                    <option value={{businesslineid}}>{{businesslinename}}</option>
                                                    {{/each}} </select>
                                                </br>

                                            </div>
                                            <div class="clear"></div>

                                            <div class="form-group required-field">
                                                <label for="SBG">Secondary Business Group</label>
                                                <br>
                                                <select class="sec-businessgroupcontrol" id="SBG" name="secbusinesgroup" multiple="true">
                                                    {{#each businessgroups}}
                                                    <option value={{businessgroupid}}>{{businessgroupname}}</option>
                                                    {{/each}} </select>
                                                </br>

                                            </div>
                                            <div class="clear"></div>

                                            <div class="form-group required-field">
                                                <label for="SBL">Secondary BLS</label>
                                                <br>
                                                <select class="sec-businessline" id="SBL" name="secbusinessline" multiple="true">
                                                    {{#each businessline}}
                                                    <option value={{businesslineid}}>{{businesslinename}}</option>
                                                    {{/each}} </select>
                                                </br>

                                            </div>
                                            <div class="clear"></div>

                                            <div class="form-group required-field">
                                                <label for="LBT">Lead Business Type</label>

                                                <br>
                                                <select class="lead-businesstype" id="LBT" name="leadbusinesstype">
                                                    <option value="0">-- Select Lead Business Type--</option>
                                                    {{#each businesstype}}
                                                    <option value={{businesstypeid}}>{{businesstypename}}</option>
                                                    {{/each}} </select>
                                                </br>

                                            </div>
                                            <div class="clear"></div>

                                            <div class="form-group required-field">
                                                <label for="LI">Lead Industry</label>
                                                <br>
                                                <select class="lead-industrytype" id="IT" name="industrytype">
                                                    <option value="0">-- Select Industry--</option>
                                                    {{#each industry}}
                                                    <option value={{industryid}}>{{industryname}}</option>
                                                    {{/each}} </select>
                                                </br>

                                            </div>
                                            <div class="clear"></div>

                                            <div class="form-group required-field">
                                                <label for="SBTY">Secondary Business Type</label>
                                                <br>
                                                <select class="sec-businesstype" id="SBT" name="secbusinesstype" multiple="true">
                                                    {{#each businesstype}}
                                                    <option value={{businesstypeid}}>{{businesstypename}}</option>
                                                    {{/each}} </select>
                                                </br>

                                            </div>
                                            <div class="clear"></div>

                                            <div class="form-group required-field">
                                                <label for="TB">Total Budget</label>
                                                <input id="TB" type="number" class="form-control" name="totalbudget" value="" required autofocus>
                                            </div>
                                            <div class="clear"></div>

                                            <div class="form-group required-field">
                                                <label for="TS">Total Spend</label>
                                                <input id="TS" type="number" class="form-control" name="totalspend" value="" required autofocus>
                                            </div>
                                            <div class="clear"></div>

                                            <div class="form-group required-field">
                                                <center>BenchMark</center>
                                                <table cellspacing="10">
                                                    <th style="padding:0 10px 0 30px;">Fuel metrics</th>
                                                    <th style="padding:0 10px 0 45px;">Goal</th>
                                                    <th style="padding:0 10px 0 45px;">Low</th>
                                                    <th style="padding:0 10px 0 45px;">High</th>
                                                    <th style="padding:0 10px 0 30px;">Bench mark score</th>
                                                    <tr>
                                                        <td>
                                                            Marketing Qualified leads</td>
                                                        <td style="padding:0 10px 0 10px;">
                                                            <input type="number" style="width: 115px" name="MQLG" required>

                                                        </td>
                                                        <td style="padding:0 10px 0 10px;">
                                                            <input type="number" style="width: 115px" name="MQLL" required>
                                                        </td>
                                                        <td style="padding:0 10px 0 10px;">
                                                            <input type="number" style="width: 115px" name="MQLH" required>
                                                        </td>
                                                        <td style="padding:0 10px 0 10px;">
                                                            <input type="text" style="width: 115px" name="MQLBM" required>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <br></br>
                                                        </td>
                                                        <td>
                                                            <br></br>
                                                        </td>

                                                        <td>
                                                            <br></br>
                                                        </td>

                                                        <td>
                                                            <br></br>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            Sales Accepted Leads</td>
                                                        <td style="padding:0 10px 0 10px;">
                                                            <input type="number" style="width: 115px" name="SALG" required>

                                                        </td>
                                                        <td style="padding:0 10px 0 10px;">
                                                            <input type="number" style="width: 115px" name="SALL" required>
                                                        </td>
                                                        <td style="padding:0 10px 0 10px;">
                                                            <input type="number" style="width: 115px" name="SALH" required>
                                                        </td>
                                                        <td style="padding:0 10px 0 10px;">
                                                            <input type="text" style="width: 115px" name="SALB" required>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <br></br>
                                                        </td>
                                                        <td>
                                                            <br></br>
                                                        </td>

                                                        <td>
                                                            <br></br>
                                                        </td>

                                                        <td>
                                                            <br></br>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Total Pipe Line</td>
                                                        <td style="padding:0 10px 0 10px;">
                                                            <input type="number" style="width: 115px" name="TPLG" required>

                                                        </td>
                                                        <td style="padding:0 10px 0 10px;">
                                                            <input type="number" style="width: 115px" name="TPLL" required>
                                                        </td>
                                                        <td style="padding:0 10px 0 10px;">
                                                            <input type="number" style="width: 115px" name="TPLH" required>
                                                        </td>
                                                        <td style="padding:0 10px 0 10px;">
                                                            <input type="text" style="width: 115px" name="TPLB" required>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="clear"></div>

                                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                        </form>
                                    </div>


                            </div>
                        </div>
                    </div>
                </div>



                <!-- jQuery CDN -->
                <script src="https://code.jquery.com/jquery-1.12.0.min.js">
                </script>
                <!-- Bootstrap Js CDN -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.js"></script>

                <link rel="stylesheet" href="/css/choosen.css"> {{!--
                <script>

                    function subcampaign() {
                        //alert('in ajax');
                        var val = $("#mar option:selected").val();
                        alert('market values ' + val);
                </script> --}}

                <script type="text/javascript">
                        $(document).ready(function () {
                            $("#PF").outerWidth(155);
                            $("#BT").outerWidth(155);
                            $("#BG").outerWidth(155);
                            $("#MS").outerWidth(155);
                            $("#PT").outerWidth(710);
                            $("#mar").outerWidth(156);
                            $("#MSC").outerWidth(710);
                            $("#BGC").outerWidth(710);
                            $("#SBG").outerWidth(156);
                            $("#BL").outerWidth(710);
                            $("#SBL").outerWidth(156);
                            $("#LBT").outerWidth(710);
                            $("#IT").outerWidth(710);
                            $("#SBT").outerWidth(156);
                            $("#CS").outerWidth(710);

                            $('#sidebarCollapse').on('click', function () {
                                $('#sidebar').toggleClass('active');
                            });

                            $(".campaign-control").on('change', function (event) {
                                var val = $("#CS option:selected").val();
                                //alert(val);
                                var Resdata = '';
                                var ele = document.getElementById('PT');
                                ele.innerHTML =
                                    '<option>' + "Please select value" + '</option>';
                                //alert('value is' + val);
                                var elemsc = document.getElementById('MSC');
                                elemsc.innerHTML =
                                    '<option>' + "Please select value" + '</option>';
                                event.preventDefault();
                                $.ajax({
                                    type: "GET",
                                    url: 'http://localhost:4000/cst/getprogramtypes' + val,
                                    //data: "value=" + val,        //POST variable name value
                                    success: function (data) {
                                        // alert('data is '+ data);
                                        //if (data) {
                                        // alert('Success' + data);
                                        ResData = data;
                                        alert(JSON.stringify(data.mcasegment.length));
                                        //alert(Resdata);

                                        //alert('resdata' + ResData);
                                        //alert(final);programfamiliyid
                                        $('#PT').find("option").remove();
                                        $('#PT').append('<option value=0>None selected</option>');
                                        $.each(data.programjob, function (index, item) {
                                            $('#PT').append('<option value=' + item.programfamiliyid + '>' + item.programfamiliyname + '</option>');
                                        });
                                        $('#MSC').find("option").remove();
                                        $('#MSC').append('<option value=0>None selected</option>');
                                        $.each(data.mcasegment, function (index, item) {
                                            $('#MSC').append('<option value=' + item.mcasegmentid + '>' + item.mcasegmentname + '</option>');
                                        });
                                        $('#BGC').find("option").remove();
                                        $('#BGC').append('<option value=0>None selected</option>');
                                        $.each(data.businessgroup, function (index, item) {
                                            $('#BGC').append('<option value=' + item.businessgroupid + '>' + item.businessgroupname + '</option>');
                                        });
                                        $('#SBG').find("option").remove();
                                        $('#SBG').append('<option value=0>None selected</option>');
                                        $.each(data.businessgroup, function (index, item) {
                                            $('#SBG').append('<option value=' + item.businessgroupid + '>' + item.businessgroupname + '</option>');
                                        });
                                        $('#LBT').find("option").remove();
                                        $('#LBT').append('<option value=0>None selected</option>');
                                        $.each(data.bustype, function (index, item) {
                                            $('#LBT').append('<option value=' + item.businesstypeid + '>' + item.businesstypename + '</option>');
                                        });
                                        $('#SBT').find("option").remove();
                                        $('#SBT').append('<option value=0>None selected</option>');
                                        $.each(data.bustype, function (index, item) {
                                            $('#SBT').append('<option value=' + item.businesstypeid + '>' + item.businesstypename + '</option>');
                                        }); 

                                        $("#str").val(data.startdate);
                                        $("#endate").val(data.enddate);

                                        //}
                                        //else {
                                        //  alert('Fail');

                                        //}
                                    }
                                });
                            });


                            $(".businessgroup-control").on('change', function (event) {
                                var val = $("#BGC option:selected").val();
                                $("#SBG option").removeClass('disabled-result result-selected').prop('disabled', false);
                                        $("#SBG").trigger('chosen:updated');
                                        $("#SBG option[value=" + val + "]").addClass('result-selected').attr('disabled', 'disabled');
                                        $("#SBG").trigger('chosen:updated');


                                //alert(val);
                                var Resdata = '';

                                event.preventDefault();
                                $.ajax({
                                    type: "GET",
                                    url: 'http://localhost:4000/cst/getbusinesslines' + val,
                                    //data: "value=" + val,        //POST variable name value
                                    success: function (data) {
                                        // alert('data is '+ data);
                                        //if (data) {
                                        // alert('Success' + data);
                                        ResData = data;
                                  //      alert(JSON.stringify(data.leadBu.length));
                                        $('#BL').find("option").remove();
                                        $('#BL').append('<option value=0>None selected</option>');
                                        $.each(data.leadBu, function (index, item) {
                                            $('#BL').append('<option value=' + item.businesslineid + '>' + item.businesslinename + '</option>');
                                        });

                                        $('#SBL').find("option").remove();
                                        $('#SBL').append('<option value=0>None selected</option>');
                                        $.each(data.leadBu, function (index, item) {
                                            $('#SBL').append('<option value=' + item.businesslineid + '>' + item.businesslinename + '</option>');
                                        });
                                        //alert(Resdata);

                                        //alert('resdata' + ResData);
                                        //alert(final);programfamiliyid

                                        //}
                                        //else {
                                        //  alert('Fail');

                                        //}
                                    }
                                });
                            });
                            $(".sec-businessgroupcontrol").on('change', function (event) {
                                //alert('inside sec business group change');
                                var val = $("#BGC option:selected").val();
                                alert('selected businedd groups is ' + val);
                                var secBusinessgroup = [];
                                $('#SBG').closest('.form-group').find('ul li.search-choice').each(function () {
                                    secBusinessgroup.push($('#SBG option').eq(parseInt($(this).find('a').attr('data-option-array-index'))).val());
                                });

                                alert('sec business group dddd' + val + secBusinessgroup);
                                var Resdata = '';

                                event.preventDefault();
                                $.ajax({
                                    type: "GET",
                                    url: 'http://localhost:4000/cst/getbusinesslines' + val + secBusinessgroup,
                                    //data: "value=" + val,        //POST variable name value
                                    success: function (data) {
                                        // alert('data is '+ data);
                                        //if (data) {
                                        // alert('Success' + data);
                                        ResData = data;
                                        alert(JSON.stringify(data.leadBu.length));

                                        $('#SBL').find("option").remove();
                                        $('#SBL').append('<option value=0>None selected</option>');
                                        $.each(data.leadBu, function (index, item) {
                                            $('#SBL').append('<option value=' + item.businesslineid + '>' + item.businesslinename + '</option>');
                                        });
                                        //alert(Resdata);

                                        //alert('resdata' + ResData);
                                        //alert(final);programfamiliyid

                                        //}
                                        //else {
                                        //  alert('Fail');

                                        //}
                                    }
                                });
                            });


                            $(".lead-businesstype").on('change', function (event) {

                                var val = $("#LBT option:selected").val();
                                $("#SBT option").removeClass('disabled-result result-selected').prop('disabled', false);
                                        $("#SBT").trigger('chosen:updated');
                                        $("#SBT option[value=" + val + "]").addClass('result-selected').attr('disabled', 'disabled');
                                        $("#SBT").trigger('chosen:updated');
                                //alert(val);
                                var Resdata = '';

                                event.preventDefault();
                                $.ajax({
                                    type: "GET",
                                    url: 'http://localhost:4000/cst/getindustry' + val,
                                    //data: "value=" + val,        //POST variable name value
                                    success: function (data) {
                                        // alert('data is '+ data);
                                        //if (data) {
                                        // alert('Success' + data);
                                        ResData = data;
                                        alert(JSON.stringify('indusss' + data.leadind.length));
                                        $('#IT').find("option").remove();
                                        $('#IT').append('<option value=0>None selected</option>');
                                        $.each(data.leadind, function (index, item) {
                                            $('#IT').append('<option value=' + item.industryid + '>' + item.industryname + '</option>');
                                        });

                                        //alert(Resdata);

                                        //alert('resdata' + ResData);
                                        //alert(final);programfamiliyid

                                        //}
                                        //else {
                                        //  alert('Fail');

                                        //}
                                    }
                                });
                            });

                            $(".programfamily-control").chosen({
                                //alert($("#PF").value());
                                placeholder_text_multiple: "program families"
                            })

                            $(".sec-businesstype").chosen({
                                //alert($("#PF").value());
                                placeholder_text_multiple: "Secondary business types"
                            })

                            // $(".programfamily-control").chosen().change(function (e, params) {
                            //   values = $("#PF").chosen().val();
                            //placeholder_text_multiple: "program families"
                            //values is an array containing all the results.
                            // });


                            $(".businesstype-control").chosen({

                                placeholder_text_multiple: "Program type names"
                            })

                            $(".sec-businessgroupcontrol").chosen({

                                placeholder_text_multiple: "Secondary Business Group Names"
                            })

                            $(".sec-businessline").chosen({

                                placeholder_text_multiple: "Secondary buysiness lines"
                            })

                            $(".programtype-control").chosen({

                                placeholder_text_multiple: "Program type names"
                            })

                            $(".market-control").chosen({

                                placeholder_text_multiple: "market names"
                            })

                            $(document).ajaxStart(function () {
                                // $("<div id='globalLoader'><div class='loader'></div></div>")
                                //       .dialog({ modal: true, dialogClass: 'dialogbg' }).show();

                                // $("#IdLoadView").addClass("OnLoaderscroll");

                                // $(".ui-dialog-titlebar").hide();
                                // $("body").addClass("disable-scroll");
                            });
                            $(document).ajaxComplete(function () {

                                // $(".form-control").css({ "height": "auto" });
                                // $("body").removeClass("disable-scroll");
                                var config = {
                                    '.chosen-select': {},
                                    '.chosen-select-deselect': { allow_single_deselect: true },
                                    '.chosen-select-no-single': { disable_search_threshold: 10 },
                                    '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
                                    '.chosen-select-rtl': { rtl: true },
                                    '.chosen-select-width': { width: '95%' }
                                }
                                for (var selector in config) {
                                    $(selector).chosen(config[selector]);
                                }

                                $('select').chosen().trigger('chosen:updated');
                                // $('#globalLoader').remove();
                                // $("#IdLoadView").removeClass("OnLoaderscroll");
                            });


                        });



                </script>
</body>


</html>