<form method="post" action="/tactic/tacticsave">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">CST</a></li>
        <li class="breadcrumb-item active">Tactic</li>
    </ol>
    <input type="hidden" id="tacticid" value={{tactic.tacticid}}>
    <input type="hidden" id="tcampaigndigitalid" value={{tactic.tcampaigndigitalid}} >
    <!--Select Campaign here-->
    <div class="form-group required-field">
        <label for="CN">Campaign {{tactic.mastercampaignid}}</label>
        <hidden id="span" value={{tactic.mastercampaignid}}></hidden>

        <select class="form-control" id="drpCampaign" name="campaign" autofocus>
            <option value="0">--Select Campaign--</option>
            {{#each campaign}} {{!--
            <option {{if this tactic.mastercampaignid}} value={{mastercampaignid}}>{{mastercampaignname}}</option> --}}
            {{#if isselect}}
            <option selected="selected" value={{mastercampaignid}}>{{mastercampaignname}}</option>
            {{else}}
            <option value={{mastercampaignid}}>{{mastercampaignname}}</option>
            {{/if}} {{/each}}

        </select>
    </div>
    <!--Select Program here-->
    <div class="required-field">
        <label for="PG">Program</label>
        <select class="form-control" id="drpProgram" name="program" autofocus>
            <option value="0">--Select Program--</option>

            {{#each program}} {{#if isselect}}
            <option selected="selected" value={{programid}}>{{programname}}</option>
            {{else}}
            <option value={{programid}}>{{programname}}</option>
            {{/if}} {{/each}}
        </select>
    </div>
    <div class="clear"></div>

    <!--Select Pgogram JOB here-->
    <div class="form-group required-field">
        <label for="JB">Job</label>
        <select class="form-control" id="drpProgramJob" name="JOB" autofocus>
            <option value="0">--Select Job--</option>

            {{#each programjob}} {{#if isselect}}
            <option selected="selected" value={{ProgramJobId}}>{{pfamilyjobname}}</option>
            {{else}}
            <option value={{ProgramJobId}}>{{pfamilyjobname}}</option>
            {{/if}} {{/each}}
        </select>
    </div>
    <div class="clear"></div>

    <!--Select Tactic Type here-->
    <div class="form-group required-field">
        <label for="TT">Tactic Type</label>
        <select class="form-control" id="drpTacticType" name="TacticType" autofocus>
            <option value="0">--Select Tactic Type--</option>
            {{#each tactictype}} {{#if isselect}}
            <option selected="selected" value={{tactictypeid}}>{{tactictypename}}</option>
            {{else}}
            <option value={{tactictypeid}}>{{tactictypename}}</option>
            {{/if}} {{/each}}
        </select>
    </div>

    <!--Enter Tactic Name here-->
    <div class="form-group">
        <label for="TN">Tactic Name</label>

        <input id="txtTacticName" type="text" class="form-control" name="tacticName" autofocus value={{tactic.tacticname}}>

    </div>

    <!--Enter Tactic Description & Goal here-->
    <div class="form-group required-field">
        <label for="DG">Description & Goal</label>
        <textarea id="txtDescription" type="text" class="form-control" name="DescriptionName" autofocus>{{tactic.tacticdescription}}</textarea>

    </div>

    <!--Select MCA Segment here-->
    <div class="form-group required-field">
        <label for="MS">MCA Segment</label>
        <select class="form-control" id="drpMCASegment" name="MCASegment" autofocus>
            <option value="0">--Select MCA Segment--</option>

            {{#each MCASegment}} {{#if isselect}}
            <option selected="selected" value={{mcasegmentid}}>{{mcasegmentname}}</option>
            {{else}}
            <option value={{mcasegmentid}}>{{mcasegmentname}}</option>
            {{/if}} {{/each}}
        </select>
    </div>

    <!--Select Markets here-->
    <div class="form-group required-field">
        <label for="MAR">Markets</label>
        <select class="chosen-select  form-control" id="lstMarkets" name="Markets" multiple="true">
            {{#each market}}

            <option {{#if isselect}} selected="selected" {{/if}} value={{marketid}}>{{marketname}}</option>
            {{/each}} </select><br>
    </div>

    <!--Enter Start Date here-->
    <div class="form-group required-field">
        <label for="SD">Start Date</label>
        <input id="txtStartDate" type="date" class="form-control" name="StartDate" value={{tactic.startdate}} autofocus>

    </div>

    <!--Enter End Date here-->
    <div class="form-group required-field">
        <label for="ED">End Date</label>
        <input id="txtEndDate" type="date" class="form-control" name="EndDate" value={{tactic.enddate}} autofocus>

    </div>

    <!--Select Business Group here-->
    <div class="form-group required-field">
        <label for="BG">Business Group</label>
        <select class="form-control" id="drpBusinessGroup" name="BusinessGroup" autofocus>
            <option value="0">--Select Business Group--</option>
            {{#each BusinessGroup}}
            <option {{#if isselect}} selected="selected" {{/if}} value={{businessgroupid}}>{{businessgroupname}}</option>
            {{/each}}
        </select>
    </div>

    <!--Select Business Line here-->
    <div class="form-group required-field">
        <label for="BL">Business Line</label>
        <select class="form-control" id="drpBusinessLine" name="BusinessLine" autofocus>
            <option value="0">--Select Business Line--</option>
            {{#each BusinessLine}}
            <option {{#if isselect}} selected="selected" {{/if}} value={{businesslineid}}>{{businesslinename}}</option>
            {{/each}}
        </select>
    </div>

    <!--Select Business Type here-->
    <div class="form-group required-field">
        <label for="BT">Business Type</label>
        <select class="form-control" id="drpBusinessType" name="BusinessType" autofocus>
            <option value="0">--Select Business Type--</option>
            {{#each BusinessType}}
            <option {{#if isselect}} selected="selected" {{/if}} value={{businesstypeid}}>{{businesstypename}}</option>
            {{/each}}
        </select>
    </div>

    <!--Select Industry here-->
    <div class="form-group required-field">
        <label for="Ind">Industry</label>
        <select class="form-control" id="drpIndustry" name="Industry" autofocus>
            <option value="0">--Select Industry--</option>
            {{#each Industry}}
            <option {{#if isselect}} selected="selected" {{/if}} value={{industryid}}>{{industryname}}</option>
            {{/each}}
        </select>
    </div>

    <!--Enter Vendor here-->
    <div class="form-group required-field">
        <label for="VN">Vendor</label>

        <input id="txtVendor" type="text" class="form-control" name="Vendor" autofocus value={{tactic.vendor}}>

    </div>

    <!-- Digital Touch Point-->
    <button type="button" id="btnDigitaltouchpoint" onclick="return ftacticData()" class="btn btn-primary" data-toggle="modal" data-target="#dvDigitalPoint">Digital
        TouchPoint</button>
    


    <div class="clear"></div>
    {{> digitaltochpoint}}

    <div class="row">
        <div class="form-group">
            &nbsp;;
        </div>
    </div>
    <button id="btnSubmit" type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-default" id="btntacticDraft">Save Draft</button>
</form>

<script src="/script/tacticform.js"></script>
<script src="/script/didform.js"></script>
