<form id="frmTactilist">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">CST</a></li>
        <li class="breadcrumb-item active">Tactic List</li>
    </ol>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <a id="btnCreateNew" href="/tactic/tactic" class="btn btn-primary align-left">
                    Create New
                </a>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <tr>
            <th >
                Tactic Id
            </th>
            <th>Tactic</th>
            <th > Status</th>
            <th >Creator</th>
            <th > Start Date</th>
            <th >End Date</th>
            <th >Action</th>
        </tr>
        {{#each tacticlist}}
        <tr>

            <td>{{tcampaigndigitalid}}</td>
            <td>{{tacticname}}</td>
            <td>{{status}}</td>
            <td>{{createdby}}</td>
            <td>{{startdate}}</td>
            <td>{{enddate}}</td>
            <td>
                <a href="/tactic/tactic/{{tacticid}}" title="Edit" campaignId={{tacticid}} value="Edit">
                    <i class="fas fa-edit"></i></a>
                <a href="#" title="Delete" campaignId={{tacticid}} value="Delete">
                    <i class="fas fa-trash"></i>
                </a>
                {{!-- <a href="#" title="Hide" campaignId={{campaignid}} value="Hide">
                    <i class="fas fa-eye-slash"></i>
                </a> --}}
            </td>
        </tr>
        {{/each}}
    </table>
</form>